@CHARSET "ISO-8859-1";

body {
	font-family: "Segoe UI", "Segoe", Tahoma, Calibri, Helvetica, Arial,
		sans-serif;
	margin: 0;
	font-size: 1em;
	text-align: center;
	background: #E8E8E7;
	height: 100vh;
}

div#main-box {
	border: solid thin rgb(148, 148, 148);
	width: 80%;
	margin: 0 auto;
	text-align: left;
	background: #fff;
}

div#content-box {
	padding: 2em;
}

header {
  padding: 1em;
  font-size: 1.5em;
}

header span {
	font-weight: 400;
	font-size: 1.5em;
	display: block;
	padding-left: 1em;
	padding-top: 25px;
	color: #63666A;
}

img {
	float: left;
	margin-right: 1em;
}

footer {
	padding: 1em;
	color: #484848;
	font-size: 0.9em;
	text-align: right;
}

span.formInput {
	display: block;
	margin: 1em 0;
}

div.spacer {
	margin-top: 2em;
	margin-left: 101px;
}

input[type="file"] {
	display: inline;
}

.formInput label {
	width: 100px;
	font-size: 1.2em;
}

.form-control {
	display: inline-block;
	width: auto;
}

.error {
	color: rgb(232, 120, 34);
	font-weight: normal;
	font-size: 0.9em;
}

label#holiday_list-error {
	display: inline;
}

div#ui-datepicker-div {
  font-size: 1.2em;
}

.btn{
	font-size: 1.2em;
}

.bootstrap-table {
  width: 600px
}

button#add_holidayBtn {
  margin-bottom: 5px;
}

button#delete_holidayBtn {
  margin-top: 5px;
}

fieldset {
  border: solid 1px #F1B767;
  padding: 1em;
  border-radius: 0.5em;
}

#holiday_date{
	color:#BBB;
}